@import "../../../_base"; 

.tckn {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 420px;
    margin: 0px 30px 0px 0px
}

.ilan {
    color: #323232;
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px
}

.name {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 420px;
    margin: 0px 20px 0px 0px
}
.name-surname {
    display: flex;
}
.guest-list {
    display: flex;
    font-weight: 400;
    justify-content: flex-start;
}
.guest-list-house{
    display: flex;
    font-weight: 400;
    justify-content: flex-start;
}
.guest-list-number {
    display: flex;
    margin: 0px 10px 0px 0px;
    font-weight: 400;
    flex-direction: column;
}
.guest-list-number1 {
    display: flex;
    margin: 0px;
    font-weight: 400;
    flex-direction: column;
}
.guest-container {
    @include flex(flex, center, center, column);
    padding-top: 4rem;
    padding-bottom: 20rem;
    position: relative;
    flex-wrap: wrap;
    background-color: #D9D9D9;
   
    .text1 {
        font-size: 70px; 
        color: #D42E13E5;
    }
    .text2 {
        font-size: 20px; 
        color: #323232;
    }
    .button-container{
        @include flex(flex, center, space-evenly);
        padding: pad(50px);
        width: 80%;
    }
    .logo-hand {
        position: absolute;
        right: 0px;
        top: 45%;
        /* width: 300px; */
        max-width: 600px;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}


.divider {
    border: 2px solid $button-border-color;
    @include width-hight(100%, 1px);
}

.address-style {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 100%;
    margin-top: 10px
}

.home-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    .deprem-img {
        max-width: 900px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .tckn {
        width: 100%;
        margin: 10px 30px 10px 10px
    }
    .name {
        width: 100%;
        margin: 10px 30px 10px 10px
    }
    .guest-list-number {
        width: 100%;
        margin: 10px 30px 10px 10px
    }
    .guest-list-number1 {
        width: 100%;
        margin: 10px 30px 10px 10px
    }
    .guest-list-number2 {
        width: 100%;
        margin: 10px 30px 20px 10px
    }
    .name-surname  {
        flex-direction: column;
    }
    .guest-list {
        flex-direction: column;
    }
    .guest-list-house{
        flex-direction: column;
    }

    .address-style {
        
        margin: 10px
    }

    .ilan {
        margin: 10px;
    }
.guest-container {
    flex-direction: column;
    .text1 {
        text-align: center;
    }
    .text2 {
        text-align: center;
    }
    .button-container{
        @include flex(flex, center, center, column);
        padding: pad(10px);
        width: 100%;
        //margin: 30px 0px
    }
    .logo-hand {
        top: 60%;
    }
  }

}