@import "../../_base"; 

.button-con {
   cursor: pointer;
 
}

.button-con:disabled {
  background-color: #848181 !important;
  color: #555;
  cursor: not-allowed;
}

@media (max-width: $breakpoint-mobile) {
.button-con {
    margin-top: 20px;
  }

}