@import "../../_base"; 

.textarea-con {
  background-color: #FFF;
  //height: 48px;
  border: 1px solid #D9D9D9;
  border-radius: 16px;
  max-width: 860px;
  width: 100%;
  padding: 10px
}

@media (max-width: $breakpoint-mobile) {
.button-con {
    margin-top: 20px;
  }

}