@import "../../../../_base"; 


  
  
  .footer-home{
        
        width: 100%;
        left: 0px;    
        border-radius: 0px;
        background: #323232;
        color: #ffff;
        position: relative;
        bottom: 0px;
        width: 100%;
        height: auto; 



    
    .footer-detail-bottom{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin: 20px;
      padding: 40px 0;
      border-bottom: 1px solid #454343;

      .footer-logo {
        height: 60px;
        cursor: pointer;
      }
      .footer-bottom-left{
        width: 306px;
        margin: 10px 0;
      }
      .footer-bottom-center{
        .gizlilik{
          font-size: 24px;
          line-height: 27px;
          margin-bottom: 15px;
          cursor: pointer;

        }
        div{
          margin: 0 0 5px 0;
        }
      }
      .footer-bottom-right{
        .iletisim{
          font-size: 24px;
          line-height: 27px;
          margin-bottom: 15px;

        }
      }
      
    }
    .socials{
      display: flex;
      justify-content: space-between;
      padding: 0 9em 2em;
      align-items: center;
      .social-network{
        display: flex;
        justify-content: space-between;
        svg{
          font-size: xx-large;
          color: #ffff;
        }
        
        
        div{
          margin: 0 10px;
          
        }
      }
    }
  }


@media (max-width: 800px) {
  .footer-home {
    .socials{
      padding: 0 10px 30px;
    }
  .footer-detail-bottom {
    display: grid;
    justify-content: flex-start;
    .footer-bottom-left{
      font-size: 20px;
      
    }
    .footer-bottom-center{
      margin: 20px 0;
    }}
  }
  


 

  
  
}