@import "../../../../_base"; 

.header {
  padding: $padding;
  background: $header-bg-color;
  color: $primary-color;
  border-bottom: 1px solid $header-border-color;
  font-style: $font-style-normal; 
  @include flex(flex, center, space-between);

  .header-nav {
    @include flex(flex, center);
    cursor: pointer;
    gap: 90px;
    font-size: 18px;
    font-weight: 500;
  }

  .logo {
    @include header-logo;
    cursor: pointer;
  }

  .login-button {
    @include primary-button;
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    padding: pad(10px);
    @include flex(flex, center,center, column);
    .header-nav {
      @include flex(flex, center,space-evenly);
      width: 100%;
    }
  }
}