@import "../../../_base"; 



.banner {
    background-color: #D42E13;
    width: 100%;
    height: 150px
}
.house-list-container {
    padding: 20px 120px;
}
.bannerzor {
    width: 100%;
}
.guest-text{
    color: #D42E13E5;
    font-size: 40px;
    font-weight: 700;
}
.guest-text2{
    color: #323232;
    font-size: 18px;
    font-weight: 400
}
.guest-text-container {
    @include flex(flex, center, space-between);
    width: 100%
}
.guest-text-container1 {
    font-size: 18px;
    color: #323232;
    font-weight: 400;
    width: 80%
}
.guest-table {
  position: absolute;
  top: 165px;
  right: 40px;
}
.house-container {
    @include flex(flex, flex-start, center, column);
    padding: 20px 40px;
    position: relative;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    .text1 {
        font-size: 70px; 
        color: #D42E13E5;
    }
    .text2 {
        font-size: 20px; 
        color: #323232;
    }
    .black-background{
        width: 700px;
    }
    .button-container{
        @include flex(flex, center, space-evenly);
        padding: pad(50px);
        width: 80%;
    }
    .logo-hand {
        position: absolute;
        right: 0px;
        top: 45%;
        /* width: 300px; */
        max-width: 600px;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}


.divider {
    border: 2px solid $button-border-color;
    @include width-hight(100%, 1px);
}

.home-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    .deprem-img {
        max-width: 900px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .house-list-container {
        padding: 5px;
    }
    .black-background{
        width: 100%
    }
    .guest-text{
       text-align: center;
    }
    .guest-text2{
        text-align: center;
     }
.house-container {
    padding: 5px;
    flex-direction: column;
    .text1 {
        text-align: center;
    }
    .text2 {
        text-align: center;
    }
    .button-container{
        @include flex(flex, center, center, column);
        padding: pad(10px);
        width: 100%;
        //margin: 30px 0px
    }
    .logo-hand {
        top: 60%;
    }
  }

}