$font-stack: 'Nunito Sans', sans-serif;
$font-style: normal;
$font-style-normal: normal;
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-400: 400;
$font-weight-300: 300;
$font-weight: 600;
$padding: 20px 120px;
$breakpoint-mobile: 414px;
$breakpoint-tablet: 767px;

//Colors
$primary-color: #1a2328;
$blue-active-color: #044DC3;
$header-bg-color: #F5F5F5;
$header-color: #FFFFFF;
$header-border-color: #D0D0D0;
$footer-bg-color: #F2F2F2;
$bar-active-color: #FFCE00;
$bar-active-bcolor: #D01D32;
$grey-color: #707070;
$button-border-color: #EDF1F2;
$footer-divider: #9B9B9B;
$footer-copywrite-color: #E6E6E6;

$header-general-width: 100%;
$align-center: center;


@mixin flex($flex: flex, $align-items: flex-start, $justify-content: flex-start, $flex-direction: row) {
    display: $flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
 }

 @mixin width-hight($width, $height) {
    width: $width;
    height: $height;
 }
 

 @mixin position($position) {
    position: $position;
 }

 @mixin none($display) {
    display: $display;
 }

 @function pad($pads...) {
    @return $pads;
}

@function margin($margins...) {
    @return $margins;
}

@mixin header-logo {
    max-width: 128px;
    height: 64px;
    width: 100%;
 }

 @mixin primary-button {
   border: 1px solid #323232;
   border-radius: 48px;
   height: 48px;
   padding: 12px 38px;
   background-color: #323232;
   color: #fff;
   @include flex(flex, center, center);
}

/* Breakpoints */

@mixin xxl {
  @media screen and (max-width: 1459.99px) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: 1199.98px) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: 575.98px) {
    @content;
  }
}