@import "../../../_base"; 

.home-container {
    @include flex(flex, center, center, column);
    padding-top: 4rem;
    padding-bottom: 20rem;
    position: relative;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    .text1 {
        font-size: 70px; 
        color: #D42E13E5;
    }
    .text2 {
        font-size: 20px; 
        color: #323232;
    }
    .button-container{
        @include flex(flex, center, space-evenly);
        padding: pad(50px);
        width: 80%;
    }
    .logo-hand {
        position: absolute;
        right: 0px;
        top: 45%;
        /* width: 300px; */
        max-width: 600px;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}


.divider {
    border: 2px solid $button-border-color;
    @include width-hight(100%, 1px);
}

.home-bottom1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: inherit;
    margin: 50px 10%;
    margin-bottom: 10%;
    .deprem-img1 {
        width: 100%;
        height: auto;   

        }
}
.home-bottom-bottom {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.bottom-right{
    text-align: justify;
    width: 45%;
    margin-top: 80px;
    p{
        
        font-weight: 400;
        font-size: 18px;
    }
}
.bottom-left{
    width: 45%;
    div{
        color: rgba(212, 46, 19, 0.9);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 72px;
        ;
    }
    p{
        
        font-weight: 700;
        font-size: 40px;
        
    }
}

@media (max-width: 480px) {
.home-bottom-bottom{
    display: grid;
    .bottom-left{
        width: 100%;
        font-size: 24px;
        p{
            font-size: 20px;
            line-height: 40px
          }
    }
    .bottom-right{
        width: 100%;
        margin-top: 5px;
    }
}

}